/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body{
    overflow-x:hidden;
}

h5 {
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
}

.page-footer ul li a, .page-footer p {
    color: #aaa;
    font-size: .8rem;
    font-weight: 300;
    margin: 5px 0;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.topic-list{
    margin-top:50px;
}
.collection-item {
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
.gallery .gallery-cover {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: top .5s;
    z-index: 2;
}
.gallery .gallery-cover img {
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.1);
    max-width: 100%;
    width:100%;
    width: auto;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.collection-item .gallery-header {
    display: block;
}
.gallery .gallery-header {
    position: relative;
    padding: 20px;
    background-color: #fff;
    color: #444;
}
.gallery .gallery-item {
    margin-top:20px;
}

.parallax-container .section {
    width: 100%;
}

.social-container .col {
  margin-bottom:10px;
  margin-left:10px;
}

.fb-share-button {
  background-color: #4267b2;
  color: white;
  padding: 4px 10px;
  display: inline-block;
  white-space: nowrap;
  border-radius: 5px;
}
.fb-share-button i {
  margin-right:5px;
}

.tot_img {
    max-height:500px;
    max-width:100%;
}

.tot_footer {
    bottom:0px;
    max-height:10%;
}
#tot_container {
    margin-top:20px;
    overflow-x:hidden;
}

.centered {
    text-align: center;
}
.step, .over {
    display:none;
}

.step .img_reveal {
    display:none;
}

.step .answer {
    position: absolute;
    top: 20%;
    left:50%;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 500;
    transform: translateX(-50%);
}

.step .wrong {
    color:red;
}

.step .correct {
    color:lime;
}

.img_hidden, .img_reveal {
    max-height:70%;
    text-align:center;
}
.tot_title {
    text-transform: uppercase;
}

.home_img{
    width: 350px:
    max-width: 450px;
    height: 350px;
    max-height:350px;
}

@media only screen and (max-width: 480px)  {
    .home_img{
        width: 90%;
        max-width: 450px;
        height: auto;
        max-height:350px;
    }
    main {
        padding-bottom:0px !important;
    }
    #tot_container .step {
        height:100%;
    }
    #tot_container .step .img_container {
        max-height:60%;
        height:60%;
    }
    #tot_container .tot_footer {
        max-height: 30%;
        height:30%;
        background-color:white;
        z-index:99;
    }
}

@media only screen and (max-width: 480px)  {
    #index-banner {
        overflow-x:hidden;
    }
    .btn {
        font-size:1rem;
        line-height:25px;
        padding:10px 20px;
    }

    .btn-large {
        height:auto;
    }
    .zoomContainer {
        max-width:100%;
        overflow-x:hidden;
    }
}

main {
    overflow-x: hidden; // hide horizontal
}
